CoffeeStoreWebForm/packages/
CoffeeStoreWebForm/CoffeeStoreWebForm/bin/
CoffeeStoreWebForm/CoffeeStoreWebForm/obj/
CoffeeStoreWebForm/.vs/CoffeeStoreWebForm/v16/Server/sqlite3/db.lock
CoffeeStoreWebForm/.vs/CoffeeStoreWebForm/v16/.suo
